@font-face
{
  font-family: "Sirius";
  src: url("ALS_Sirius_Regular_0.95.otf");
}

@font-face
{
  font-family: "Sirius-Bold";
  src: url("ALS_Sirius_Bold_0.95.otf");
}

*
{
  margin:  0;
  padding: 0;
}

body, html
{
  width: 100%;
  height: 100%;
}

:root
{
  --width: 1200px;

  --main-color:        #ffffff;
  --main-color-accent: #f3f5f6;

}

body
{
  background-color: var(--main-color-accent);
}

.content
{
  display:   inherit;

  margin:    0 auto;

  width:     100%;
  height:    100%;
  max-width: var(--width);
}

header
{
  display: inline-block;

  width: 100%;

  height: 8em;
  margin: 1em 0 3em 0; 

  background-color: var(--main-color);
  box-shadow: 0 4px 20px rgba( 0,0,0, .1 );
}

header .content
{
  display:         flex;
  align-items:     center;
  justify-content: space-between;
}

#logo
{
  display: inline-block;

  padding: 2em;
  height:  100%;
}

#user
{
  display:     flex;
  align-items: center;
  justify-content: right;
  gap: 1.25em;

  padding: 2em;
  height:  100%;
}

#user span
{
  display: inline-block;

  font-family: "Sirius-Bold";
  font-size:   1.5em;

  white-space: nowrap;
}
